<div class="navbar">
  <div class="logo">
    <img class="logo-img" src="./../assets/772_mercedes.jpg" alt="">
  </div>
  <div class="sign-in">
    <button mat-raised-button color="warn">Giriş Yap</button>
  </div>
</div>
<br>
<hr>
<h1 class="title">Çalışan Listesi</h1>
<div class="icon" (click)="addPersonelDialog()">
  <fa-icon [icon]="faUserPlus"></fa-icon>
</div>
<div class="liste">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> NAME </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element?.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef> SURNAME </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element?.surname}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef> AGE </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element?.age}} </mat-cell>
    </ng-container>
    <mat-header-row style="background-color: brown;" *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef> COUNTRY </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element?.country}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-flat-button (click)="openDialog(element)" color="warn">Details</button>
      </mat-cell>
    </ng-container>
  </mat-table>
</div>