<mat-dialog-content>
    <ul>
      <li>Name: {{ dialogData?.name }} </li>
      <li>surname: {{ dialogData?.surname }} </li>
      <li>country: {{ dialogData?.country }} </li>
      <li>age: {{ dialogData?.age }} </li>

      <!-- <li>
        @if (dialogData.name === "name") {
          <span>&#10003;</span>
        } name
      </li>
      <li>
        @if (dialogData.surname === "surname") {
          <span>&#10003;</span>
        } SURNAME
      </li>
     <li>
        @if (data.age === ) {
          <span>&#10003;</span>
        } age
      </li> 
      <li>
          @if (dialogData.country === "country") {
            <span>&#10003;</span>
          } country
        </li> -->
    </ul>
  </mat-dialog-content>